.hero{
    &__text{
        position: relative  ;
        &::before{
            content: "";
            background: url('../../assets/desktop/image-hero-left.png') no-repeat center / 100%;
            width: 24.625rem;
            height: 19rem;
            position: absolute;
            right: calc(100% + 5.5rem);
            bottom: 3rem;
        }
        &::after{
            position: absolute;
            content: '';
            background: url('../../assets/desktop/image-hero-right.png') no-repeat center / 100%;
            position: absolute;
            left: calc(100% + 5.5rem);
            bottom: 3rem;
            display: block;
            width: 24.625rem;
            height: 19rem;
        }

        /* tablet target */
        @include mq($tablet-breakpoint){

            position: relative;
            &::before{
                content: '';
                right: unset;
                left: 50%;
                bottom: unset;
                transform: translateX(-50%);
                position: relative;
                display: block;
                width: 51.25rem;
                height: 19rem;
                background: url('../../assets/tablet/image-hero.png') no-repeat center / 100%;
                // background-repeat: no-repeat;
                // background-size: 100%;
            }
            &::after{
                content: '';
                display: none;
                opacity: 0;
                visibility: hidden;

            }
        }
        @include mq($mobile-breakpoint){
            &::before {
                width: 25.875rem;
                height: 9.5625rem;
                // background-image: url('../../assets/tablet/image-hero.png') no-repeat center / 100%;
            }
        }

    }
}